
main table {

    border-collapse: collapse;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

main td {

    border: 1px solid black;
}

main th {

    background-color: #33CCCC;
    border: 1px solid black;
    color: white;
}